.sidebar {
  background: white;
  border-radius: 0.75rem;
  width: 22vw;
  height: 87vh;
  max-height: 49rem;
  max-width: 20rem;
  margin: 2rem 0.5rem 2rem 2rem;
  &__title {
    display: flex;
    align-items: center;
    height: 9%;
    padding-left: 1.5rem;
  }
  &__separator {
    height: 1px;
    background: #f4f5f7;
  }
  &__list {
    height: 91%;
    padding: 0.625rem 0 0 1.5rem;
    list-style: none;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.625rem;
    }
    &::-webkit-scrollbar-track {
      margin: 0.3125rem;
      background: white;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0.5rem;
      background: #f4f5f7;
      border: 0.1625rem white solid;
    }
    // custom scrollbar doesn't work in firefox and it will only be visible when there is content to scroll
    &-el {
      display: flex;
      align-items: center;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1,125rem;
      padding-top: 1rem;
      img {
        margin-right: 0.3125rem;
      }
    }
    .active {
      font-weight: 600;
    }
    .blocked {
      color: #aeb5c1;
    }
  }
}
