.message {
  height: 100%;
  max-width: 44.6875rem;
  &__title {
    height: fit-content;
    width: fit-content;
    font-weight: 600;
    font-size: 1.3125rem;
    line-height: 2.0625rem;
    padding: 1.0625rem 0 0 2.0625rem;
  }
  &__info {
    display: flex;
    align-items: center;
    padding: 0.75rem 0 0 2.0625rem;
    &-date {
      font-weight: 500;
      font-size: 0.625rem;
      line-height: 0.875rem;
      color: #6b778c;
    }
  }
  &__content {
    padding: 0 1.625rem 0 6.1875rem;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.5rem;
    color: #6b778c;
  }
}
